.desktop-only {
  display: none;
}

.list-reset {
  list-style: none;
}

.list-inline {
  display: inline-flex;
}

.visually-hidden { 
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

@media (min-width: 1024px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: initial;
  }
}